.main {
 margin-top: 178px;
 background-color: rgb(215, 238, 230);
 display: block;
 padding-bottom: 709px;


 width: 100%;

}


.text {
    padding-top: 70px;
    margin-left: 150px;
    font-size: 26px;
}